wordpress/assets/*
.DS_Store
wordpress/.DS_Store
wordpress/wp-content/.DS_Store
wordpress/wp-content/themes/.DS_Store
wordpress/wp-local-config.php
wordpress/upgrade/*
wordpress/license.txt
wordpress/readme.html